extends ../layout
block content
    h4 
        a(href=`/customer/create/${cust._id}`) create 
    h1 = title 
    form(action=`/customer/search`)
    label(for='keyword') Keyword 
    input(type="text", name='keyword')
    input(type='submit', value=" search")
    table 
        thead 
        tr 
            th Id 
            th Fullname 
            th Email 
            th Image 
            th Actions 
        tbody 
            if  customers.length > 0
                each cust in customers 
                tr 
                 td=cust._id 
                 td=cust.fullname 
                 td=cust.email 
                 td=cust.image 
                 td 
                    a(href=`/customer/update/${cust._id}`) Update 
                    a(href=`/customer/delete/${cust._id}`) Delete
            else 
                tr 
                    td(colspan='5')No Data 
